<div class="containeredit">
  <div><h1>Sorry dunno why this page didnt work in heroku but im too tired and lazy to fix it...</h1></div>
  <div><%= link_to "Go back here", cocktail_path, class: 'link', id: 'back' %></div>
</div>
