<div class="d-flex justify-content-center">
  <h1>New cocktail name</h1>
</div>

<div class="container">
  <div>
    <%= render "form", cocktail: @cocktail %>
  </div>

  <div>
    <%= image_tag "#{@image}", alt: "Mr Cocktail thinking", width: 400 %>
  </div>
</div>
